.list-item{
    max-width:750px;
}
.questionStem{
    font-size: 16px;
    /* padding: 0px; */
    /* background-color: #efefef; */
    color: #b3b3b3;
    text-align: left;
    line-height: 22px;
    letter-spacing: 0.06em;
}
ul{
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0.5em;
}
input.labelauty + label{
    margin-left: 30px;
}
.textAnswer{
    width: 730px;
    border-radius: 3px;
    /* text-indent: 2em; */
    padding: 3px;
}