<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../dist/bundle.js"></script>
</head>

<body ng-controller="indexControl">
    <center>
        <div class="list-item">
            <div class="question">
                <div class="questionStem">&nbsp&nbsp1.是大叔大叔大叔大叔大叔大叔大叔大叔的撒下次下次先吃饭撒大叔大叔大叔打大深层次大大说的为轻微的打算打才是大萨芬重大是的的阿达的味道是擦擦擦擦</div>
                <div class="answer">
                    <div class="ez-checkbox">
                        <!-- single -->


                        <ul class="dowebok">
                            <li><input type="radio" name="radio" data-labelauty="视觉设计师"></li>
                            <li><input type="radio" name="radio" data-labelauty="交互设计师"></li>
                            <li><input type="radio" name="radio" data-labelauty="前端工程师"></li>
                            <li><input type="radio" name="radio" data-labelauty="数据分析师"></li>
                            <li><input type="radio" name="radio" disabled="1" checked data-labelauty="不可用"></li>
                        </ul>

                        <ul class="dowebok">
                            <li><input type="checkbox" name="checkbox" disabled="" checked data-labelauty="HTML"></li>
                            <li><input type="checkbox" name="checkbox" data-labelauty="CSS"></li>
                            <li><input type="checkbox" name="checkbox" data-labelauty="JavaScript"></li>
                            <li><input type="checkbox" name="checkbox" data-labelauty="SEO"></li>
                            <li><input type="checkbox" name="checkbox" data-labelauty="PHP"></li>
                            <li><input type="checkbox" name="checkbox" data-labelauty="JAVA"></li>
                            <li><input type="checkbox" name="checkbox" data-labelauty=".NET"></li>
                        </ul>

                    </div>
                    <div class="ez-elaborate">
                        <textarea class="textAnswer" rows="5" wrap="no/off"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="button" />
    </center>
</body>

</html>